<!DOCTYPE html>
<html lang="en">
<head>
    <%- inlcude('./partials/head') %> 
</head>
<body>
    <header>
        <%- includes('./partials/header') %> 
    </header>

    <main>
        <div class="jumbotron p-5">
            <h1>This is great</h1>
            <p>Welcome to temlating using EJS</p>
        </div>
    </main>

    <footer class="bg-info-subtle">
        <%- includes('./partials/footer') %> 
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>