<% if (productos.length >0) { %> 
    <div class="table-responsive">
        <table class="table" style="background-color:  #659AA6;">
            <tr style="color: #F2E9E4;">
                <th>Producto</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
            <% productos.forEach(function(producto) {%> 
                <tr>
                    <td><%=producto.nombreProducto%></td>
                    <td><%=producto.precio%></td>
                    <td><img style="max-width:150px;" src=<%=producto.imagen%>></td>
                </tr>
            <% }); %>
        </table>
    </div>
<% } else { %> 
    <h3 class="alert alert-danger">No se encontraron datos</h3>
<% } %> 
   